@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

/* Animationen für das Intro*/
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fadeInOut {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    transform: translateX(-100%);
  }
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

.heading {
  font-family: "PT Serif", serif;
}

.code {
  font-family: "IBM Plex Mono", serif;
  font-weight: 500;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

/* Allgemeines Styling */
body {
  margin: 0; 
  font-family: "Inter", serif;
  display: flex; 
  flex-direction: column; 
  background-color: rgb(255, 255, 255); 
}

.container {
  width: 100%;
  max-width: 1320px;
  margin: 0 auto;
  padding: 0 20px;
}

/* Header */
header {
  background-color: rgb(255, 255, 255); 
  position: fixed; 
  color: rgb(0, 151, 179); 
  z-index: 1000; 
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.05);
  width: 100%;
}

.header__wrapper {
  font-size: 1em; 
  display: flex; 
  flex-direction: row;
  align-items: center; 
  justify-content: space-between; 
  width: 100%; 
}

.nav__social {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.navbar,
.nav__social,
.logo {
  width: 100%;
}

.nav__social a {
  color: #333;
  font-size: 20px;
}

.logo img,
.address img {
  margin-left: -15px;
}

.hamburger-menu {
  width: max-content;
  margin-left: auto;
  flex-direction: column;
  justify-content: end;
  align-items: end;
  gap: 5px;
  cursor: pointer;
  display: none;
}

.hamburger-menu .line {
  width: 20px;
  height: 2px;
  background-color: rgb(0, 151, 179);
}

.nav-popup {
  position: absolute;
  right: 20px;
  top: 80%;
  background-color: rgb(0, 151, 179);
  padding: 15px 30px;
  border-radius: 12px;
  z-index: 999999;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 15px;
  opacity: 0;
  visibility: none;
  transition: all 0.4s ease-in-out;
}

.nav-popup.active {
  opacity: 1;
  visibility: visible;
  top: 75%;
}

nav ul {
  /*Navigation*/
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 100%;
}

nav ul li a {
  /*Navigation Links Formatierung*/
  color: rgb(0, 0, 0); 
  font-weight: bold; 
  font-size: 1rem; 
  padding: 10px 15px; 
  text-decoration: none; 
  transition: color 0.3s; 
}

nav ul li a:hover, /*Navigation Links Hover Formatierung*/
nav ul li a.active {
  /*Navigation Links Aktiv Formatierung*/
  color: rgb(0, 151, 179); 
}

#home {
  /*Home Section*/
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 50px;
  min-height: 100vh;
  background-image: url("./Source/hintergrundbild.svg");
  background-position: bottom center;
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 101%;
  max-height: 50%;
}
.homecontainer {
  display: flex;
  justify-content: center;
  gap: 100px;
  align-items: center;
  max-width: 1260px;
  width: 100%;
  flex-wrap: nowrap;
}

#hometextbox,
#homeportraitbox {
  width: 100%;
}

.portrait {
  width: 100%;
  height: 100%;
}

#homeportraitbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}

#hometextbox {
  color: #333;
}

.frontend {
  font-size: 2em;
  color: rgb(0, 151, 179);
  font-weight: 600;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-bottom: 20px;
}
.darioknezevic {
  font-size: 4em;
  color: rgb(0, 0, 0);
  font-weight: 900;
  line-height: 1.1;
  letter-spacing: -0.03em;
  margin-top: -10px;
  margin-bottom: 10px; 
}

.überschriftcontainer {
  display: flex;
  text-align: center;
}
.überschrift {
  font-size: 90px;
  color: rgb(255, 255, 255);
  font-weight: bolder;
}

.aboutcontainer {
  display: flex;
  justify-content: space-between; 
  align-items: center;
  gap: 20px;
}

.intrologo {
  animation: fadeIn 1s ease-in-out;
}

.intro-overlay1 {
  position: fixed;
  background-image: url("./Source/Intro Logo 3d.gif");
  background-position: center; 
  background-repeat: no-repeat; 
  width: 50px;
  height: 100px;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 151, 179, 100);
  z-index: 9999;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: fadeInOut 1s forwards;
  animation-delay: 3s;
}
.intro-overlay1 img {
  width: 50px; 
  height: auto; 
  animation: fadeIn 1s ease-in-out; 
}

.intro-overlay2 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 151, 179, 0.75);
  z-index: 9998; 
  display: flex; 
  justify-content: center;
  align-items: center;
  animation: fadeInOut 0.5s forwards; 
  animation-delay: 3.15s; 
}

.intro-overlay3 {
  position: fixed; 
  top: 0; 
  left: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 151, 179, 0.5);
  z-index: 9997; 
  display: flex; 
  justify-content: center; 
  align-items: center; 
  animation: fadeInOut 0.5s forwards; 
  animation-delay: 3.3s; 
}

#projects,
#skills,
#contact {
  /*Section*/
  scroll-margin-top: 70px; 
  min-height: 95vh; 
  display: flex; 
  flex-direction: column; 
}

.download_cv__btn {
  background-color: #f0f4fd;
  color: rgba(0, 151, 179, 100);
  text-decoration: none;
  padding: 14px 28px;
  display: block;
  width: max-content;
  border-radius: 8px;
  margin-top: 20px;
  display: flex;
  align-items: center;
  gap: 12px;
  transition: all 0.3s ease-in-out;
}

.download_cv__btn:hover {
  transform: translateY(10px);
}

.projects__wrapper {
  width: 100%;
}

.slider-container {
  min-height: 100%;
  margin-top: 150px;
  overflow: hidden;
  padding-bottom: 40px;
}

.skillcontainer {
  width: max-content;
  display: flex;
  gap: 40px;
  animation: 20s scroll linear infinite;
}

.skillcontainer-two {
  width: max-100;
  display: flex;
  gap: 40px;
  animation: 20s scroll linear infinite;
  animation-direction: reverse;
  margin-top: 60px;
}

@keyframes scroll {
  to {
    transform: translate(calc(-45% - 20px));
  }
}

.skillbox {
  width: max-content;
  min-width: 250px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px;
  border-radius: 12px;
  background-color: rgba(255, 255, 255, 0.8);
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.skillbox:hover {
  background-color: rgba(255, 255, 255, 0.3);
  transform: scale(1.03);
}

.skillbox img {
  width: 210px;
  height: 210px;
}

.skillbox p {
  font-size: 50px;
  font-weight: 200;
}

#aboutme {
  scroll-margin-top: 70px;
  min-height: 95vh;
  display: flex; 
  flex-direction: column; 
  justify-content: center;
  background-color: rgb(0, 151, 179); 
  gap: 40px; 
}

.aboutgallerie {
  display: flex;
  flex-wrap: wrap;
  justify-content: end;
  gap: 15px;
  white-space: nowrap;
  border-radius: 0px;
  box-sizing: border-box;
  padding: 10px;
  width: 100%;
}

.aboutmetext {
  width: 100%;
}

.aboutmetext p {
  font-size: 18px;
  color: #fff;
  line-height: 1.5;
  font-weight: 400;
}

.experience__section {
  min-height: 95vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 0;
}

#projects {
  background-color: rgba(0, 151, 179, 1);
  padding: 80px 0;
}

.project_card__wrapper {
  margin-top: 40px;
  columns: 450px;
  gap: 30px;
}

.project_card {
  height: 100%;
  background-color: #fff;
  border-radius: 8px;
  margin-bottom: 30px;
}

.project__info {
  padding: 16px;
}

.pi__title {
  font-size: 24px;
  font-weight: 600;
}

.techs {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 6px;
  margin-bottom: 24px;
}

.techs__name {
  font-size: 14px;
  background-color: #333;
  color: #fff;
  padding: 4px 10px;
  border-radius: 12px;
  transition: all 0.3s ease-in-out;
}

.techs__name:hover {
  background-color: #fff;
  color: #333;
}

.pi__desc {
  font-size: 15px;
  line-height: 1.5;
  margin-top: 10px;
}

.project__info hr {
  border-color: rgba(0, 151, 179, 0.3);
}

.project_card img {
  width: 100%;
  height: 250px;
  object-fit: cover;
  border-radius: 12px;
}

.project__btn {
  text-decoration: none;
  background-color: rgba(0, 151, 179, 1);
  color: #fff;
  margin-top: 20px;
  display: block;
  width: max-content;
  padding: 12px 20px;
  border-radius: 9099px;
  font-size: 14px;
  border: 1px solid;
  border-color: rgba(0, 151, 179, 1);
  transition: all 0.3s ease-in-out;
}

.project__btn:hover {
  background-color: transparent;
  color: #000;
}

#skills {
  background-color: #f0f4fd;
  padding: 70px 0;
}

/* Footer */
footer {
  padding: 20px 0;
  color: #333;
  text-align: center;
  font-family: "IBM Plex Mono", serif;
  font-weight: 600;
  font-size: 14px;
}

#contact {
  padding: 60px 0;
}

.contact__wrapper {
  display: grid;
  grid-template-columns: 250px 200px 1fr;
  gap: 60px;
  margin-top: 40px;
}

.address img {
  margin-bottom: 30px;
}

.address-text {
  font-size: 16px;
  font-weight: 500;
  margin-bottom: 5px;
  font-weight: 500;
}

form {
  width: 100%;
}

form input,
textarea {
  width: 100%;
  border: 1px solid rgba(0, 151, 179, 0.3);
  border-top: transparent;
  border-left: transparent;
  border-right: transparent;
  outline: none;
  margin-bottom: 30px;
  padding: 8px;
  font-family: "IBM Plex Mono", serif;
  background-color: rgba(240, 244, 253, 0.45);
  border-radius: 4px;
}

form input:focus,
form textarea:focus {
  border-color: rgba(0, 151, 179, 1);
}

form label {
  display: block;
  font-weight: 600;
  font-size: 14px;
  margin-bottom: 8px;
  color: #333;
}

form button {
  width: 100%;
  border: none;
  background-color: rgba(0, 151, 179, 1);
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  font-family: "IBM Plex Mono", serif;
  padding: 12px;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

form button:hover {
  background-color: rgba(0, 151, 179, 0.7);
}

.social__links {
  display: flex;
  flex-direction: column;
  padding-top: 20px;
  gap: 20px;
}

.social__links a {
  color: rgba(0, 151, 179, 1);
  text-decoration: none;
  font-weight: bold;
  font-family: "IBM Plex Mono", serif;
}

.social__links a:hover {
  text-decoration: underline;
}

.user-card {
  text-align: center;
  padding: 20px 60px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 400px;
  margin: 0 auto;
  background: #f0f4fd;
}

.user-avatar {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  margin-bottom: 10px;
}

.user-card h2 {
  margin: 10px 0;
  font-size: 28px;
  font-family: "IBM Plex Mono", serif;
}

.user-card p {
  margin: 5px 0;
  color: #555;
  font-size: 18px;
}

.user-card p span {
  font-weight: 600;
}

.user-card a {
  display: inline-block;
  margin-top: 10px;
  text-decoration: none;
  color: rgba(0, 151, 179, 1);
  font-weight: bold;
}

.user-card a:hover {
  color: rgba(0, 151, 179, 0.7);
}

.experience__section .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
}

.overview__container {
  width: 100%;
}

.experience__section .überschriftcontainer {
  flex-direction: column;
  width: 100%;
  text-align: left;
}

.experience__section .überschriftcontainer p {
  font-size: 18px;
  color: #333;
  line-height: 1.5;
  font-weight: 400;
  margin-top: 10px;
}

@media (max-width: 768px) {
  @media (max-width: 480px) {
    nav ul {
      flex-wrap: nowrap; 
    }

    nav ul li a {
      font-size: 0.8rem; 
      padding: 5px 10px; 
    }

    .logo img {
      width: 50px; 
      height: auto;
    }

    #typing-text {
      font-size: 2rem;
    }

    .aboutgallerie {
      flex-direction: column; 
      align-items: center; 
      width: 100%; 
    }
  }

  nav ul {
    flex-direction: row; 
    justify-content: flex-start; 
    gap: 10px; 
  }

  nav ul li a {
    font-size: 0.9rem; 
  }

  .logo img {
    width: 50px; 
  }

  .homecontainer {
    flex-direction: column;
    text-align: center; 
  }

  #hometextbox {
    width: 100%; 
    margin-top: -180px;
    text-align: center;
  }

  #homeportraitbox {
    width: 80%;
  }

  #typing-text {
    font-size: 2rem; 
  }

  .darioknezevic {
    font-size: 2rem; 
    font-weight: 1500;
  }

  .überschriftcontainer {
    margin: 0;
    text-align: center;
  }

  .überschrift {
    font-size: 48px;
  }
  .aboutcontainer {
    align-items: center;
    flex-direction: column;
  }

  .skillcontainer {
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    margin: 0;
    padding: 10px;
  }

  .aboutgallerie {
    flex-direction: row; 
    width: 90%; 
    margin: 0 auto; 
  }
}

@media screen and (max-width: 1023px) {
  .überschrift {
    font-size: 50px;
    text-align: start;
  }
}

@media screen and (max-width: 768px) {
  .navbar {
    display: none;
  }

  .contact__wrapper {
    grid-template-columns: repeat(1, 1fr);
    gap: 40px;
  }

  .portrait {
    width: 100%;
  }

  #homeportraitbox {
    width: 100%;
    padding-left: 0px;
  }

  #hometextbox {
    margin-top: -125px;
    padding-left: 0px;
  }

  .frontend,
  #typing-text {
    font-size: 1rem;
  }

  .darioknezevic {
    font-size: 1.5rem;
  }

  #aboutme {
    padding: 40px 0;
  }

  .überschrift {
    font-size: 38px;
    text-align: center;
  }

  .aboutmetext p {
    font-size: 14px;
    margin-top: 15px;
    text-align: center;
  }

  .aboutgallerie {
    width: 100%;
  }

  .aboutgallerie img {
    width: 100%;
  }

  .überschriftcontainer {
    justify-content: center;
    align-items: center;
  }

  .pi__title {
    font-size: 20px;
  }

  .techs__name {
    font-size: 10px;
  }

  .pi__desc {
    font-size: 13px;
  }

  .project__btn {
    font-size: 12px;

    padding: 8px 12px;
  }

  .slider-container {
    margin-top: 150px;
  }

  .address-text {
    font-size: 14px;
  }

  .social__links {
    padding-top: 0;
    gap: 10px;
  }

  .social__links a {
    font-size: 14px;
  }

  footer {
    font-size: 10px;
  }

  .hamburger-menu {
    display: flex;
  }

  .nav-popup ul {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .nav-popup ul li {
    list-style: none;
    text-align: center;
  }

  .nav-popup ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 14px;
    text-align: center;
  }

  .nav__social {
    margin-top: 20px;
  }

  .nav__social a {
    color: #fff;
  }

  .experience__section .container {
    flex-direction: column;
    gap: 20px;
  }

  .user-card {
    padding: 20px 40px;
  }

  .user-card p {
    font-size: 14px;
  }

  .user-avatar {
    width: 100px;
    height: 100px;
  }

  .experience__section .überschriftcontainer p {
    font-size: 14px;
  }
}
