html {
    scroll-behavior: smooth;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color: blue;
    color: white;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo {
    font-size: 1.5em;
    flex-shrink: 0;
}

nav {
    flex-grow: 1;
    text-align: center;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

section {
    padding: 20px;
    color: white;
}

#home {
    background-color: grey;
}

#about-me {
    background-color: red;
}

#projects {
    background-color: green;
}

#skills {
    background-color: orange;
}

#contact {
    background-color: purple;
}

footer {
    background-color: blue;
    color: white;
    text-align: center;
    padding: 10px;
}
